body {
    background-color: lightcoral;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
p {
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 50px;
    font-weight: bolder;
    height: 70px;
    width: 200px;
}